.env
*.env
**/.env
**/*.env
**/*.pem
**/*.tfstate
**/*.tfstate.*.backup
**/*.tfstate.backup
**/*.tfvars
**/.kube
.vscode/
.ansible/
homepage/config/logs/
volumes/
.gitsecret/keys/random_seed
!*.secret
authelia/configuration.yml
crontab.backup
.terraform
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/lxc_ssh_key.pem
terraform/terraform_vars.yml
lxc_ssh_key.pem
terraform_vars.yml
k3s-lxc-control-node-1.config
**/.kube/*config
