.env
*.env
*/**/.env
*/**/*.env
homepage/config/logs/
volumes/
.gitsecret/keys/random_seed
!*.secret
authelia/configuration.yml
crontab.backup
.terraform
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/lxc_ssh_key.pem
